<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Welcome</title>

    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/styles.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='docker.png') }}">
  </head>
  <body>
      <div class="container">
        <h2>Welcome to {{ host_name }} with IP:{{ host_ip }}</h2>
        <h2>Your IP is: {{ client_ip }}</h2>
      </div>
  </body>
</html>
